<!DOCTYPE html>
<html>
<head>
  <!-- Bootstrap: The following 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Face Score</title>

  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/face_score.css" rel="stylesheet">

  <script src="js/dependencies/tracking-min.js"></script>
  <script src="js/dependencies/face-min.js"></script>

</head>

<body>

  <p id="debug"></p>
  <p id="face_number"></p>
  <p id="face_score"></p>
  <output id="list"></output>
  <div class="btn-group btn-group-justified" role="group" aria-label="input-group">
    <span class="btn btn-lg btn-default btn-primary btn-file">
      Browse <input type="file" capture="camera" accept="image/*" id="files" >
    </span>
  </div>
  
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>

  <script>
    function yourScore() {
        return Math.floor((Math.random() * 10) + 1);
    };

    function handleFileSelect(evt) {
      var f = evt.target.files[0]; // FileList object
      var reader = new FileReader();

      var showFace = function() {
        var img = document.getElementById('img');
        var tracker = new tracking.ObjectTracker('face');

        tracking.track(img, tracker);
        console.log("img obj", img);

        var plotRectangle = function(x, y, w, h) {
          var rect = document.createElement('div');
          var input = document.createElement('h');

          var score = yourScore();
          input.value = score;
          document.getElementById("face_score").innerHTML = "Your Score: " + score;

          // rect.onclick = function name() {
          //   input.select();
          // };

          rect.classList.add('rect');
          rect.appendChild(input);
          console.log("photo", document.getElementById('photo'));
          document.getElementById('photo').appendChild(rect);

          rect.style.width = w + 'px';
          rect.style.height = h + 'px';
          rect.style.left = (img.offsetLeft + x) + 'px';
          rect.style.top = (img.offsetTop + y) + 'px';
        };

        tracker.on('track', function(event) {
          console.log("on track is called");
          document.getElementById("debug").innerHTML = "tracker on track is called!"
          if (event.data.length === 0) {
            console.log("no face is tracked");
            document.getElementById("face_number").innerHTML = "Total Face Number:" + event.data.length;
          } else {
            console.log(event.data.length + "faces are found");
            document.getElementById("face_number").innerHTML = "Total Face Number:" + event.data.length;
            event.data.forEach(function(rect) {
              console.log("trying to plot some faces", rect);
              plotRectangle(rect.x, rect.y, rect.width, rect.height);
            });
          }
        });
      };

      // Closure to capture the file information.
      var showImg = function(theFile) {
        return function(e) {
          // Render thumbnail.
          var span = document.createElement('span');
          span.setAttribute("id", "photo");
          span.innerHTML = ['<img id="img" src=', e.target.result ,' title="', escape(theFile.name), '" width=300 height=400/>'].join('');
          document.getElementById('list').insertBefore(span, null);
          console.log("tring to call showFace");
          showFace();
          console.log("showFace is called");
        };
      };
      // Read in the image file as a data URL.
      reader.onload = showImg(f);

      console.log("trying to call readAsDataURL");
      reader.readAsDataURL(f);
      console.log("readAsDataURL is called");
    }

    document.getElementById('files').addEventListener('change', handleFileSelect, false);
  </script>
</body>
</html>