<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Face Score</title>
  
  <link href="/css/face_score.css" rel="stylesheet">
  <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">

  <script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/bower_components/tracking.js/build/tracking-min.js"></script>
  <script type="text/javascript" src="/bower_components/tracking.js/build/data/face-min.js"></script>
</head>

<body>
  <div id="list"></div>
  <div class="camera-button btn-group btn-group-justified" role="group" aria-label="input-group">
    <span class="btn btn-lg btn-default btn-primary btn-file">
      Browse <input type="file" capture="camera" accept="image/*" id="files" >
    </span>
  </div>

  <!-- TODO Remove Debug Info -->
  <div>Debug</div>
  <p id="debug"></p>
  <p id="face_score"></p>
  
  <script>
    var yourScore = function() {
        return Math.floor((Math.random() * 10) + 1);
    };

    var handleFileSelect = function(evt) {
      var f = evt.target.files[0];
      var reader = new FileReader();

      reader.onload = showImg(f);
      reader.readAsDataURL(f);
    };


    var showImg = function(theFile) {
      return function(e) {
        var img = $('<img id="img">');
        img.attr('src', e.target.result);
        img.appendTo('#list');
        showFace();
      };
    };

    var showFace = function() {
      var img = document.querySelector('img');
      var faceTracker = new tracking.ObjectTracker('face');
      tracking.track(img, faceTracker);
      faceTracker.on('track', handleOnTrack);
    };

    var handleOnTrack = function(event) {
      if (event.data.length === 0) {
        document.getElementById("face_score").innerHTML = "Too ugly, your face is not recognized"
      } else {
        event.data.forEach(function(rect) {
          var img = document.getElementById('img');
          var image = new Image();
          image.src = img.src;
          plotRectangle(rect.x, rect.y, rect.width, rect.height, $(img).height() / image.naturalHeight, $(img).width() / image.naturalWidth);
        });
      }
    };

    var plotRectangle = function(x, y, w, h, resizeRatioHeight, resizeRatioWidth) {
      var rect = document.createElement('div');
      var input = document.createElement('h');
      var score = yourScore();
      input.value = score;

      rect.classList.add('rect');
      rect.appendChild(input);
      console.log("list", document.getElementById('list'));
      document.getElementById('list').appendChild(rect);
      rect.style.width = (w * resizeRatioWidth) + 'px';
      rect.style.height = (h * resizeRatioHeight) + 'px';
      rect.style.left = (img.offsetLeft + x * resizeRatioWidth) + 'px';
      rect.style.top = (img.offsetTop + y * resizeRatioHeight) + 'px';
    };

    document.getElementById('files').addEventListener('change', handleFileSelect, false);
  </script>
</body>
</html>